SECURITY_ENC_KEY_BASE64=CvUwRHDMpb3YInNkbfZpb5EQDjzOXeptSBDZ4rh8E4I=
SECURITY_HASH_PEPPER=l6WrJOYmY0JuxbStYlTwIpdSr57i0uAOyUvHaNdQKB0=
LOCAL_MAIL_HOST=email-smtp.ap-northeast-2.amazonaws.com
LOCAL_MAIL_PORT=587
LOCAL_MAIL_USERNAME=AKIA43MWKDEDBEAQUUNV
LOCAL_MAIL_PASSWORD=BA8346+kNuw/4fB3GROdkNsDRY8uD+hWl/4XUyuMF4j1
LOCAL_MAIL_FROM=no-reply@rhight.kro.kr
PROD_MAIL_HOST=email-smtp.ap-northeast-2.amazonaws.com
PROD_MAIL_PORT=587
PROD_MAIL_USERNAME=AKIA43MWKDEDBEAQUUNV
PROD_MAIL_PASSWORD=BA8346+kNuw/4fB3GROdkNsDRY8uD+hWl/4XUyuMF4j1
PROD_MAIL_FROM=no-reply@rhight.kro.kr