SECURITY_ENC_KEY_BASE64=
SECURITY_HASH_PEPPER=
LOCAL_MAIL_HOST=email-smtp.ap-northeast-2.amazonaws.com
LOCAL_MAIL_PORT=587
LOCAL_MAIL_USERNAME=
LOCAL_MAIL_PASSWORD=
LOCAL_MAIL_FROM=no-reply@rhight.kro.kr
PROD_MAIL_HOST=email-smtp.ap-northeast-2.amazonaws.com
PROD_MAIL_PORT=587
PROD_MAIL_USERNAME=
PROD_MAIL_PASSWORD=
PROD_MAIL_FROM=no-reply@rhight.kro.kr
