<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reverse.hr.internal.persistence.AuthMapper">

    <select id="findUserByEmployeeNum"
            parameterType="String"
            resultType="com.reverse.hr.internal.persistence.row.LoginUserRow">
        SELECT employee_id       AS employeeId,
               employee_num      AS employeeNum,
               employee_password AS password,
               initial_state     AS initialState
        FROM employee
        WHERE employee_num = #{employeeNum}
    </select>

    <select id="findUserByEmployeeId"
            parameterType="Long"
            resultType="com.reverse.hr.internal.persistence.row.LoginUserRow">
        SELECT employee_id   AS employeeId,
               employee_num  AS employeeNum,
               employee_password  AS password,
               initial_state AS initialState
        FROM employee
        WHERE employee_id = #{employeeId}
    </select>


    <select id="findRoleCodesByEmployeeId"
            parameterType="Long"
            resultType="String">
        SELECT r.role_code
        FROM employee_role er
                 JOIN role r ON r.role_id = er.role_id
        WHERE er.employee_id = #{employeeId}
    </select>

    <select id="findLoginProfileByEmployeeId"
            parameterType="Long"
            resultType="com.reverse.hr.internal.persistence.row.LoginProfileRow">
        SELECT e.employee_id   AS employeeId,
        e.employee_num  AS employeeNum,
        e.employee_name AS employeeName,
        o.org_name      AS orgName,
        p.position_name AS positionName,
        r.rank_name     AS rankName,
        j.job_name      AS jobName
        FROM employee e
        LEFT JOIN employee_hr_info h ON h.employee_id = e.employee_id
        LEFT JOIN organization o ON o.org_id = h.org_id
        LEFT JOIN `position` p   ON p.position_id = h.position_id
        LEFT JOIN `rank` r       ON r.rank_id = h.rank_id
        LEFT JOIN job j          ON j.job_id = h.job_id
        WHERE e.employee_id = #{employeeId}
        LIMIT 1
    </select>


    <select id="findInitializeUserByEmployeeNum"
            parameterType="String"
            resultType="com.reverse.hr.internal.persistence.row.InitializeUserRow">
        SELECT employee_id          AS employeeId,
               employee_num         AS employeeNum,
               resident_number_hash AS residentNumberHash
        FROM employee
        WHERE employee_num = #{employeeNum}
    </select>

    <update id="updatePasswordAndInitialState">
        UPDATE employee
        SET employee_password = #{password},
            initial_state = #{initialState}
        WHERE employee_id = #{employeeId}
    </update>

    <insert id="insertPasswordHistory">
        INSERT INTO password_history (
            employee_id, password_hash, change_at
        ) VALUES (
            #{employeeId}, #{passwordHash}, NOW()
        )
    </insert>

</mapper>
