<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reverse.hr.internal.persistence.EmployeeMapper">

    <select id="findUserByEmployeeNum"
            parameterType="String"
            resultType="com.reverse.core.security.EmployeeAuthInfoDTO">
        SELECT employee_id   AS employeeId,
               employee_num  AS employeeNum,
               employee_password      AS password
        FROM employee
        WHERE employee_num = #{employeeNum}
    </select>

    <select id="findRolesByEmployeeId"
            parameterType="Long"
            resultType="String">
        SELECT r.role_code
        FROM employee_role er
                 JOIN role r ON er.role_id = r.role_id
        WHERE er.employee_id = #{employeeId}
    </select>

    <select id="findViewsByRoleId"
            parameterType="Long"
            resultType="com.reverse.hr.internal.persistence.row.LoginViewRow">
        SELECT av.view_id   AS viewId,
               av.view_code AS viewCode,
               av.view_name AS viewName,
               av.view_desc AS viewDesc
        FROM role_view rv
                 JOIN app_view av ON rv.view_id = av.view_id
        WHERE rv.role_id = #{roleId}
        ORDER BY av.view_id ASC
    </select>

</mapper>
