<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reverse.approval.internal.persistence.ApprovalLineMapper">

    <insert id="insertApprovalLine"
            parameterType="com.reverse.approval.internal.persistence.param.ApprovalLineParam">
        INSERT INTO approval_line (
            approval_seq,
            approval_status,
            approval_id,
            approver_id,
            approver_name,
            approver_rank
        )
        VALUES (
            #{approvalSeq},
            #{approvalStatus},
            #{approvalId},
            #{approverId},
            #{approverName},
            #{approverRank}
        )
    </insert>

</mapper>
