<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reverse.approval.internal.persistence.BusinessTripDetailMapper">

    <insert id="insertBusinessTripDetail"
            parameterType="com.reverse.approval.internal.persistence.param.BusinessTripDetailParam">
        INSERT INTO business_trip_detail (
            approval_id,
            trip_type,
            destination,
            start_dt,
            end_dt,
            reason
        )
        VALUES (
            #{approvalId},
            #{tripType},
            #{destination},
            #{startDate},
            #{endDate},
            #{reason}
        )
    </insert>

    <select id="findBusinessTripDetailByApprovalId"
            resultType="com.reverse.approval.internal.persistence.row.BusinessTripDetailRow">
        SELECT trip_type AS tripType,
               destination AS destination,
               start_dt AS startDate,
               end_dt AS endDate,
               reason AS reason
        FROM business_trip_detail
        WHERE approval_id = #{approvalId}
    </select>

</mapper>
