<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reverse.approval.internal.persistence.FlexibleWorkDetailMapper">

    <insert id="insertFlexibleWorkDetail"
            parameterType="com.reverse.approval.internal.persistence.param.FlexibleWorkParam">
        INSERT INTO flexible_work_detail (
            approval_id,
            start_dt,
            end_dt,
            reason
        )
        VALUES (
            #{approvalId},
            #{startDate},
            #{endDate},
            #{reason}
        )
    </insert>

    <select id="findFlexibleWorkDetailByApprovalId"
            resultType="com.reverse.approval.internal.persistence.row.FlexibleWorkDetailRow">
        SELECT start_dt AS startDate,
               end_dt AS endDate,
               reason AS reason
        FROM flexible_work_detail
        WHERE approval_id = #{approvalId}
    </select>

</mapper>
