<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reverse.approval.internal.persistence.LeaveDetailMapper">

    <insert id="insertLeaveDetail"
            parameterType="com.reverse.approval.internal.persistence.param.LeaveDetailParam">
        INSERT INTO leave_detail (
            approval_id,
            start_dt,
            end_dt,
            leave_type,
            reason
        )
        VALUES (
            #{approvalId},
            #{startDate},
            #{endDate},
            #{leaveType},
            #{reason}
        )
    </insert>

</mapper>
