<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reverse.approval.internal.persistence.OvertimeDetailMapper">

    <insert id="insertOvertimeDetail"
            parameterType="com.reverse.approval.internal.persistence.param.OvertimeDetailParam">
        INSERT INTO overtime_detail (
            approval_id,
            work_date,
            start_time,
            end_time,
            reason
        )
        VALUES (
            #{approvalId},
            #{workDate},
            #{startTime},
            #{endTime},
            #{reason}
        )
    </insert>

</mapper>
