<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reverse.approval.internal.persistence.ReferenceLineMapper">

    <insert id="insertReferenceLine"
            parameterType="com.reverse.approval.internal.persistence.param.ReferenceLineParam">
        INSERT INTO reference_line (
            approval_id,
            referencer_id,
            referencer_name,
            reference_rank
        )
        VALUES (
            #{approvalId},
            #{referencerId},
            #{referencerName},
            #{referenceRank}
        )
    </insert>

    <select id="findReferencerIdsByApprovalId" resultType="long">
        SELECT referencer_id
        FROM reference_line
        WHERE approval_id = #{approvalId}
    </select>

    <select id="findReferenceLinesByApprovalId"
            resultType="com.reverse.approval.internal.persistence.row.ReferenceLineDetailRow">
        SELECT referencer_id AS referencerId,
               referencer_name AS referencerName,
               reference_rank AS referenceRank,
               read_dt AS readDate
        FROM reference_line
        WHERE approval_id = #{approvalId}
        ORDER BY reference_id ASC
    </select>

    <select id="countByApprovalIdAndReferencerId" resultType="int">
        SELECT COUNT(*)
        FROM reference_line
        WHERE approval_id = #{approvalId}
          AND referencer_id = #{referencerId}
    </select>

    <update id="updateReadDateIfNull">
        UPDATE reference_line
        SET read_dt = NOW()
        WHERE approval_id = #{approvalId}
          AND referencer_id = #{referencerId}
          AND read_dt IS NULL
    </update>

</mapper>
