<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reverse.attendance.internal.persistence.OvertimeMapper">

    <insert id="insertOvertime" useGeneratedKeys="true" keyProperty="overtimeId">
        INSERT INTO overtime_request (
            employee_id, work_date, start_time, end_time, reason, approval_status
        ) VALUES (
                     #{employeeId}, #{workDate}, #{startTime}, #{endTime}, #{reason}, #{approvalStatus}
                 )
    </insert>

    <select id="findByEmployeeId" resultType="com.reverse.attendance.internal.domain.Overtime">
        SELECT
            overtime_id as overtimeId, employee_id as employeeId, work_date as workDate,
            start_time as startTime, end_time as endTime, reason as reason,
            approval_status as approvalStatus, reject_reason as rejectReason
        FROM overtime_request
        WHERE employee_id = #{employeeId}
        ORDER BY start_time DESC
    </select>

    <select id="findById" resultType="com.reverse.attendance.internal.domain.Overtime">
        SELECT
            overtime_id as overtimeId, employee_id as employeeId, work_date as workDate,
            start_time as startTime, end_time as endTime, reason as reason,
            approval_status as approvalStatus, reject_reason as rejectReason
        FROM overtime_request
        WHERE overtime_id = #{overtimeId}
    </select>

    <update id="updateStatusIfPending">
        UPDATE overtime_request
        SET approval_status = #{approvalStatus},
            reject_reason = #{rejectReason}
        WHERE overtime_id = #{overtimeId}
          AND approval_status = 'PENDING'
    </update>

    <select id="findAll" resultType="com.reverse.attendance.internal.domain.Overtime">
        SELECT
        overtime_id as overtimeId, employee_id as employeeId, work_date as workDate,
        start_time as startTime, end_time as endTime, reason as reason,
        approval_status as approvalStatus, reject_reason as rejectReason
        FROM overtime_request
        <where>
            <if test="approvalStatus != null and approvalStatus != ''">
                approval_status = #{approvalStatus}
            </if>
        </where>
        ORDER BY start_time DESC
    </select>

</mapper>